.weather-main{
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 250px;
  background-image: url(https://media.istockphoto.com/id/1007768414/photo/blue-sky-with-bright-sun-and-clouds.jpg?s=612x612&w=0&k=20&c=MGd2-v42lNF7Ie6TtsYoKnohdCfOPFSPQt5XOz4uOy4=);
  

}